<div class="d-flex flex-column align-items-center">
  <h1 class="text-secondary m-4" >Stupid coaching - answer </h1>

  <h4 class="text-info m-2">Your question is:</h4>
  <%= @question %>

  <h4 class="text-info m-2">The answer of your coach is:</h4>
  <%= @answer %>

  <a href="/ask">Ask a new question</a>
</div>
