<h1>Stupid Coaching - ask </h1>
<p>Formulate your question below: </p>

<form action="/answer" data-turbo="false">
  <input type="text" name="question" placeholder="question here">
  <input type="submit" value="Ask!">
</form>
