<div class="d-flex flex-column align-items-center">
  <h1 class="text-secondary m-4">Welcome to the <strong> ask your coach </strong> page! </h1>
  <p class="text-info font-italic">Click below to ask him a question<p>
  <a href="/ask" class="btn btn-info m2">click here</a>
</div>
